@model HealthInsurance.Models.Users

@if (TempData.ContainsKey("RegisterSuccess"))
{
    <div class="alert alert-success alert-dismissible fade show">
        @TempData["RegisterSuccess"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<body>
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-4 animated slideInDown mb-4">Login</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container-fluid p-5 wow fadeIn bg-light rounded ps-2" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 offset-2 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded h-100 p-5 ">
                        <div class="d-flex align-items-center ms-n5 mb-4">
                            <div class="service-icon flex-shrink-0 bg-primary rounded-end me-4">
                                <img class="img-fluid"
                                     src="~/HomeAssets/img/icon/icon-01-light.png"
                                     alt="" />
                            </div>
                            <h4 class="mb-0">Health Insurance</h4>
                        </div>
                        <p class="mb-4" style="margin-top: 2.5rem !important;">
                            Health insurance serves as a crucial lifeline in today's complex healthcare landscape, offering individuals and families a safety net against the burden of medical expenses. It empowers people to seek timely medical care, promoting preventive health measures and early interventions. With health insurance, financial worries take a backseat, allowing individuals to focus on their recovery and overall well-being.
                        </p>

                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn service-item rounded h-100 p-2 text-center" data-wow-delay="0.5s">
                    <div class="bg-light rounded p-5">
                        <h1 class="display-6 mb-5 ">
                            Login
                        </h1>
                        <form method="post" asp-action="Login">
                            <div class="col-md-12 p-2">
                                <div class="form-floating">
                                    <input asp-for="Email"
                                           type="text"
                                           class="form-control"
                                           id="email"
                                           placeholder="Your Email" />
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-12 p-2">
                                <div class="form-floating">
                                    <input asp-for="Password"
                                           class="form-control"
                                           type="password"
                                           id="password"
                                           placeholder="Your Password" />
                                    <label for="password">Your Password</label>
                                </div>
                            </div>
                            <div class="col-12 mt-4">
                                <button class="btn btn-primary py-3 px-5" type="submit">
                                    Login
                                </button>
                            </div>
                        </form>
                        @if (TempData.ContainsKey("LoginFail"))
                        {
                            <div class="alert alert-danger alert-dismissible fade show mt-1">
                                @TempData["LoginFail"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        <p class="mt-3">Don't Have an Account?<a href="/Auth/Register" class="text-decoration-underline fw-bold"> Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
         <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>
    <script>
        function hideLabel(labelId) {
            document.getElementById(labelId).style.display = 'none';
        }

        function showLabel(labelId) {
            document.getElementById(labelId).style.display = 'block';
        }
    </script>
</body>
