@model HealthInsurance.Models.Users

@{
    ViewData["Title"] = "Create";
}
<body>
    <!-- Appointment Start -->
    <div class="container-fluid appointment my-5 py-3 pb-4 wow fadeIn"
         data-wow-delay="0.1s">
        <div class="container py-3">
            <div class="row g-5 p-3">
                <div class="col-lg-6 wow fadeIn" style="margin-top: 10rem" data-wow-delay="0.3s">
                    <h1 class="display-6 text-white mb-5">
                        We're Award Winning Insurance Company
                    </h1>
                    <p class="text-white mb-5">
                        We're proud to be an award-winning health insurance company. Our commitment to providing top-notch healthcare coverage and exceptional customer service has been recognized by industry experts and organizations. We understand that quality healthcare is not just a privilege but a fundamental necessity, and our award-winning status underscores our continuous efforts to deliver the best possible healthcare solutions.
                    </p>
                    <div class="bg-white rounded p-3">
                        <div class="d-flex align-items-center bg-primary rounded p-3">
                            <img class="flex-shrink-0 rounded-circle me-3"
                                 src="~/HomeAssets/img/profile.jpg"
                                 alt="" />
                            <h5 class="text-white mb-0">Call Us: +012 345 6789</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white rounded p-5 ms-2 text-center">
                        <div class="bg-white rounded p-3 ">
                            <div class="d-flex align-items-center bg-primary rounded p-3 mb-2 text-center">
                                <h5 class="text-white mb-2 p-1"
                                    style="margin-left: 10.5rem;
                                margin-block-start: 0.67em;">
                                    Register
                                </h5>
                            </div>
                        </div>
                        <form method="post" asp-action="Register" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="Username"
                                               type="text"
                                               class="form-control"
                                               id="name"
                                               placeholder="Your Name"
                                               required />
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input asp-for="Password"
                                               type="password"
                                               class="form-control"
                                               id="password"
                                               placeholder="Your Password"
                                               required />
                                        <label for="password">Your Password</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="Email"
                                               type="email"
                                               class="form-control"
                                               id="email"
                                               placeholder="Your Email"
                                               required />
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="PhoneNumber"
                                               type="tel"
                                               class="form-control"
                                               id="phonenumber"
                                               placeholder="Your New Phone Number"
                                               required />
                                        <label for="phonenumber">Your Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input asp-for="ProfilePictureFile"
                                               type="file"
                                               class="form-control"
                                               id="ProfilePictureFile"
                                               placeholder="Your Profile Picture File"
                                               required />
                                        <label for="ProfilePictureFile">Your Profile Picture</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center mt-4 mb-4">
                                    <button class="btn btn-primary py-3 px-5" type="submit">
                                        Register
                                    </button>
                                    
                                </div>
                        </form>
                    </div>
                    @if (TempData.ContainsKey("RegisterFail"))
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            @TempData["RegisterFail"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <p>Already Have an Account? <a href="/Auth/Login" class="text-decoration-underline fw-bold">Login</a></p>
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
    <script>
        function hideLabel(labelId) {
            document.getElementById(labelId).style.display = 'none';
        }

        function showLabel(labelId) {
            document.getElementById(labelId).style.display = 'block';
        }
    </script>
</body>